body {
    background: url('../Contacto/fondo-contacto.jpeg') no-repeat center center/cover;
}

.contenido {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.contenido h1 {
    color: #d32f2f;
    font-family: fantasy;
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: black;
    font-size: 32px;
    margin-bottom: 20px;
}

#lista-ejercicios {
    list-style: none;
    padding: 0;
}

#lista-ejercicios li {
    background: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    text-align: left;
    transition: transform 0.2s ease-in-out;
}

#lista-ejercicios h2 {
    color: #d32f2f;
    font-size: 22px;
    margin-top: 20px;
    border-bottom: 2px solid #d32f2f;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
    padding-bottom: 5px;
    text-align: left;
}

#lista-ejercicios li:hover {
    transform: scale(1.02);
    background: #f5f5f5;
}

#lista-ejercicios li span {
    font-weight: bold;
    color: #d32f2f;
}
