*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: url('BackgroundInicio.jpg') no-repeat center center/cover;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 96%;
  height: 8.8em;
  margin: 2%;
  border-radius: 1em;
  background-color: rgb(195, 198, 198);
  box-shadow: rgb(229, 18, 18) 0px 20px 30px -10px;
}

.logo-gym img{
  position: relative;
  width: 80%;
  padding-top: 56px;
  right: 20%;
}

.nombre-logo{
  position: relative;
  right: 18%;
  font-size: 50px;
  font-family: fantasy;
  font-weight: lighter;
  color:black;
}

nav ul{
  position: relative;
  gap: 30px;
  display: flex;
  right: 30%;
  font-family: fantasy;
  font-size: 20px;
}

a{
  text-decoration: none;
}

li{
   color: black;
}

nav a :hover{
  color: darkred;
}



