
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
}

.header{
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    height: 150px;
    nav{
        height: 100%;
        width: 100%;
        max-width: 1300px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        ul{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            li{
               list-style: none; 
               a{
                text-decoration: none;
                color: #be0909;
                &:hover{
                    color: #1c0bd4;
                    text-decoration: underline;
                }
               }
            }
            
    }
        
    }
}